* {
	box-sizing: border-box;
}

body, html {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity, .entity {
	position: absolute;
}

#status{
	position: fixed;
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: 2fr 2fr 2fr;
	justify-content: center;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	background-color: rgb(30, 210, 195);
	margin: 0;
	z-index: 1000;
	width: 100%;
}